<nav class="menu-pays">
  {% for type, fiches in collections.menu %}
  <details>
    <summary>{{ type }}</summary>
    <ul>
      {% for f in fiches %}
      <li><a href="{{ f.url | url }}">{{ f.data.title }}</a></li>
      {% endfor %}
    </ul>
  </details>
  {% endfor %}
</nav>