<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "Annuaire criminel" }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | url }}">
  <link href="{{ '/pagefind/pagefind-ui.css' | url }}" rel="stylesheet">
</head>
<body>
  <header>
    <a href="{{ '/' | url }}"><h1>Annuaire criminels</h1></a>
    <div id="search"></div>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <script src="{{ '/pagefind/pagefind-ui.js' | url }}"></script>
  <script>
    window.addEventListener("DOMContentLoaded", () => {
      new PagefindUI({
        element: "#search",
        showSubResults: true,
        showFilters: true
      });
    });
  </script>
</body>
</html>
