---
layout: layouts/base.njk
title: Annuaire criminel
permalink: /index.html
---
<p>{{ collections.criminels.length }} fiches recensées.</p>

<ul class="liste-criminels">
  {% for item in collections.criminels %}
  <li>
    <a href="{{ item.url }}">{{ item.data.title }}</a>
    <span class="tag">{{ item.data.type | join(", ") }}</span>
  </li>
  {% endfor %}
</ul>
